# Archivos y carpetas innecesarias
HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Gradle
build/
.gradle/
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Spring Tool Suite (STS)
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# VS Code
.vscode/
logs/
/logs/
.logs/
**logs**
